<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
		<title>SignUp Page</title>
        <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/style.css">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9 col-ms-offset-2 col-xs-offset-2">
					<h1>Welcome to Wholeren Randomized Prize Award</h1>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<h4>We Wholeren thanks you for your interest and we are ready to help you in the new year.
								In this case, we provide you with our great prize and thank you for your cooperation.
								Once you click the <strong>Get Prize button</strong>, please be sure to fill in the below 
								form in order to make sure we get your current residence. Again, thank for your cooperation
								and we are looking forward to seeing you in the future.
							</h4>
							<div class="blank"></div>
							<button class="btn btn-warning btn-block btn-lg" id="prize"> Get Prize! </button>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 hidden" id="result">
							<p id="message"></p>
							<form id="sendPrizeInfo"> 
								<div class="row" id="name"> 
                        			<div class="col-xs-12 col-sm-6 col-md-6"> 
                            			<div class="form-group"> 
                                			<input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name"> 
                            			</div> 
                        			</div> 
                        			<div class="col-xs-12 col-sm-6 col-md-6"> 
                            			<div class="form-group"> 
                            				<input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name"> 
                            			</div> 
                        			</div> 
                    			</div> 
                    			<div class="form-group"> 
                        			<input type="email" name="email" id="email" class="form-control" placeholder="Email Address"> 
                    			</div> 
                    			<div class="form-group"> 
                        			<input type="phone_number" name="phone_number" id="phone_number" class="form-control" placeholder="Phone Number"> 
                    			</div> 
                    			<div class="form-group"> 
                        			<input type="text" name="residence" id="residence" class="form-control" placeholder="Residence"> 
                    			</div> 
                   				<div class="row"> 
                    				<div class="col-xs-12 col-md-6"> 
                        				<button class="btn btn-primary btn-block" id="send">Send</button> 
                    				</div> 
                    				<div class="col-xs-12 col-md-6"> 
                        				<a href="/" class="btn btn-danger btn-block">Cancel</a> 
                   					</div> 
                				</div> 
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/js/jquery-latest.min.js"></script>
		<script src="../../js/prize.js"></script>
	</body>
<html>