<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII">
		<title>WholeRen Data Analysis</title>
		<link rel="stylesheet" type="text/css" href="../../css/welcome.css">
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../font-awesome/css/font-awesome.min.css">
	</head>
	<body>
		<video autoplay  poster="../../img/background.jpg" id="bgvid" loop>
 			<source src="../../video/background.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="text-center">
				<div class="welcome">
					<h1> Welcome to WholeRen Data Team</h1>
					<br>
					<div>
						<h5>The website aims at helping everyone to <strong>monitor clients' information</strong> 
							for our entire team. <br>For first-time user, please sign up for the page</h5><br>
						<div class="icon">
							<i class="fa fa-database fa-5x"></i>
						</div>
						<a class="btn btn-primary btn-hover btn-lg" href="/signup" role="button">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span> SignUp
						</a>
						<a class="btn btn-default btn-hover btn-lg" href="/login" role="button">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> LogIn
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
<html>
