<!DOCTYPE HTML>
<html>
	<head>
		<title>WholeRen Data Analysis</title>
		<link rel="stylesheet" type="text/css" href="../../css/welcome.css">
		<link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../font-awesome/css/font-awesome.min.css">
	</head>
	<body>
		<video autoplay  poster="../../img/background.jpg" id="bgvid" loop>
 			<source src="../../video/background.mp4" type="video/mp4">
		</video>
		<div class="container">
			<div class="text-center">
				<div class="welcome col-lg-12">
					<h1> Welcome to WholeRen Data Team Report</h1>
					<div class="col-lg-6 register">
						<h4>I am a data team member</h4>
						<div class="icon">
							<i class="fa fa-database fa-5x"></i>
						</div>
						<a class="btn btn-primary btn-hover" href="/signup" role="button">SignUp</a>
						<a class="btn btn-default btn-hover" href="/login" role="button">Login</a>
					</div>
					<div class="col-lg-6 register">
						<h4>I just want to add data!</h4>
						<div class="icon">
							<i class="fa fa-user fa-5x"></i>
						</div>
						<a class="btn btn-primary btn-hover" href="/signup" role="button">SignUp</a>
						<a class="btn btn-default btn-hover" href="/login" role="button">Login</a>
					</div>
				</div>
			</div>
		</div>
	</body>
<html>
